@model PriceQuotation.Models.PriceQuote

<div>
    <h1 class="display-4">Price Quotation</h1>

    <form method="post">
        <div>
            <label>Subtotal:</label>
            <input asp-for="Subtotal" type="number" />
        </div>
        <div>
            <label>Discount Percent:</label>
            <input asp-for="DiscountPercent" type="number" />
        </div>

        <!-- this will make the complete total and discount amount appear
			not visible until the subtotal and discount percent are calculated/on buttonclick
        -->
        @if (Model != null && Model.Subtotal > 0 && Model.DiscountPercent > 0)
        {
            <div>
                <label>Discount Amount:</label>
                <span>@Model.DiscountAmount.ToString("C")</span>
            </div>
            <div>
                <label>Total:</label>
                <span>@Model.Total.ToString("C")</span>
            </div>
        }

        <button type="submit">Calculate</button>
        <!--<a> links back to the index... thus clearing it-->
        <a asp-action="Index">Clear</a>
    </form>

</div>
