@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Price Quotation</h1>

    <!--Form that is needed to make calculations-->
    <!--How to format them one after the other instead of 
        side-by-side????
    -->

    <form>
            <label>Subtotal:</label>
			<input type="number" id="subtotal"/> <br />

            <label>Discount Percent: </label>
            <input type = "number" id="discountpercent"/> <br />

            <button>Calculate</button>
            <a href="/Quotation/Clear">Clear</a>
    </form>
    
    @*  THE BREAKDOWN - 
        Using an if statment- '@' allows for the program to recognize C# code being placed into 
        the Razor Page. 

        Translation: if the Model is not null and the models subtotal and discount percent 
        have a value. Then format the Discount Amount and Whole Total into a string as currency ("C") in the 
        HTML form of <p>
    *@

    @if (Model != null && Model.Subtotal.HasValue && Model.DiscountPercent.HasValue)
    {
        <p>Discount Amount: @Model.DiscountAmount.ToString("C")</p>
        <p>Total: @Model.Total.ToString("C")</p>
    }

</div>
