@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Price Quotation</h1>

    <!--Form that is needed to make calculations-->

    <form>
        <div>
            <label>Subtotal:</label>
			<input type="number" id="subtotal"/>

            <label>Discount Percent: </label>
            <input type = "number" id="discountpercent"/>

            <button>Calculate</button>
            <a href="/Quotation/Clear">Clear</a>
        </div>
    </form>


</div>
